<div class="row h-100" *ngIf="systems">
  <div class="col-3 h-100">
    <!--<div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">-->
      <!--<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">-->
        <div #systemSwiper="ngxSwiper" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let system of systems">
              <p>
                <img src='assets/systems/logo/{{system.romFolder}}.png' srcset='assets/systems/logo/{{system.romFolder}}.svg 1x' style="width:100%;" />
              </p>
            </div>
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="col-9" *ngIf="selectedSystem">
    <div class="row">
      <div class="col-5">
        <h4 class="text-center arcadia">{{selectedSystem.name}}</h4>
        <img src='assets/systems/{{selectedSystem.romFolder}}.png' style="max-width:300px; max-height:200px;" />
        <p>{{selectedSystem.description}}</p>
      </div>
      <div class="col-3">
        <div class="card margin-bottom-sm">
          <div class="card-header">
            Info
          </div>
          <div class="card-body">
            <p class="card-text">{{selectedSystem.releaseDate}}</p>
            <p class="card-text">{{selectedSystem.developer}}</p>
            <p class="card-text">{{selectedSystem.manufacturer}}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Extensions
          </div>
          <div class="card-body">
            <span class="badge badge-secondary" *ngFor="let ext of selectedSystem.fileExtensions.split(' ')">{{ext}}</span>
          </div>
        </div>
        <p>{{selectedSystem.romFolder}}</p>
      </div>
      <div class="col-4">
        <p style="font-weight:700;background-color:rgba(62, 62, 62, 0.90);padding:2px;margin-bottom:1px;" class="text-center">Technical</p>
        <p>Controllers: {{selectedSystem.controllers}}</p>
        <p>{{selectedSystem.cpu}}</p>
        <p>{{selectedSystem.memory}}</p>
        <p>{{selectedSystem.graphics}}</p>
        <p>Sound: {{selectedSystem.sound}}</p>
        <p>{{selectedSystem.display}}</p>
        <p>{{selectedSystem.media}}</p>
      </div>
    </div>
    <a class="btn btn-secondary float-right" href="{{selectedSystem.wiki}}">wiki</a>
  </div>
</div>
