<div class="row h-100" *ngIf="systems">
  <div class="col-3 h-100">
    <!--<div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">-->
      <!--<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">-->
        <div #systemSwiper="ngxSwiper" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let system of systems">
              <p>
                <img src='assets/systems/logo/{{system.romFolder}}.png' srcset='assets/systems/logo/{{system.romFolder}}.svg 1x' style="width:100%;" />
              </p>
            </div>
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="col-9 h-100" *ngIf="selectedSystem" [style]="selectedSystemImage">
    <div class="row h-100">
      <div class="col-4 h-100">
        <h4>{{selectedSystem.name}}</h4>
        <!--<img src='assets/systems/{{selectedSystem.romFolder}}.png' class="h-20" />-->
      </div>
      <div class="col-8 h-100">
        <p>{{selectedSystem.description}}</p>
      </div>
    </div>

    <p>{{selectedSystem.romFolder}}</p>
    <p>{{selectedSystem.releaseDate}}</p>
    <p>{{selectedSystem.developer}}</p>
    <p>{{selectedSystem.manufacturer}}</p>
    <p>{{selectedSystem.controllers}}</p>
    <p>{{selectedSystem.cpu}}</p>
    <p>{{selectedSystem.memory}}</p>
    <p>{{selectedSystem.graphics}}</p>
    <p>{{selectedSystem.sound}}</p>
    <p>{{selectedSystem.display}}</p>
    <p>{{selectedSystem.media}}</p>
    
    <p>{{selectedSystem.fileExtensions}}</p>
    <a href="{{selectedSystem.wiki}}">wiki</a>
  </div>
</div>
