<div class="row h-100" *ngIf="systems">
  <div class="col-3 h-100">
    <div class="scrollSidebar">
      <p *ngFor="let system of systems; let i = index;">
        <img (click)="onIndexChange(i)" src='assets/systems/logo/{{system.romFolder}}.png' srcset='assets/systems/logo/{{system.romFolder}}.svg 1x' style="width:100%;" />
      </p>
    </div>
  </div>
  <div class="col-9" *ngIf="selectedSystem">
    <div class="row">
      <div class="col-5">
        <h4 class="text-center arcadia">{{selectedSystem.name}}</h4>
        <img src='assets/systems/{{selectedSystem.romFolder}}.png' style="max-width:300px; max-height:200px;" />
        <p>{{selectedSystem.description}}</p>
      </div>
      <div class="col-3">
        <div class="card margin-bottom-sm">
          <div class="card-header">
            Info
          </div>
          <div class="card-body">
            <p class="card-text">{{selectedSystem.releaseDate}}</p>
            <p class="card-text">{{selectedSystem.developer}}</p>
            <p class="card-text">{{selectedSystem.manufacturer}}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Extensions
          </div>
          <div class="card-body">
            <span class="badge badge-secondary" *ngFor="let ext of selectedSystem.fileExtensions.split(' ')">{{ext}}</span>
          </div>
        </div>
        <p>{{selectedSystem.romFolder}}</p>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Technical
          </div>
          <div class="card-body">
            <p>Controllers: {{selectedSystem.controllers}}</p>
            <p>{{selectedSystem.cpu}}</p>
            <p>{{selectedSystem.memory}}</p>
            <p>{{selectedSystem.graphics}}</p>
            <p>Sound: {{selectedSystem.sound}}</p>
            <p>{{selectedSystem.display}}</p>
            <p>{{selectedSystem.media}}</p>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-secondary float-right" href="{{selectedSystem.wiki}}">wiki</a>
  </div>
</div>
