  <div class="row">
    <div class="col-12">
      <h3 class="arcadia">
        <label class="yellow">Arcade</label>
        <label class="blue">Rom</label>
        <label class="red">Management</label>
        <label class="green">Interface</label>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h4 class="arcadia">Features</h4>
      <ul class="list-group dark">
        <li class="list-group-item">Store your complete collection one place and deploy only what you play on the different devices</li>
        <li class="list-group-item">Easy management of your collection</li>
        <li class="list-group-item">Import/Export Emulation Station gamelist.xml files</li>
        <li class="list-group-item">Import/export AttractMode emulator/gamelist files</li>
        <li class="list-group-item">Basic scraper to improve metadata or find art</li>
        <li class="list-group-item">Sync folders using filesystem, SFTP or Samba methods</li>
      </ul>
    </div>
    <div class="col-8">
      <h4 class="arcadia">Getting started</h4>
      In order to get this app working there are a few preparations needed.
      <ol>
        <li>Configure the Master client and at least one other client</li>
        <li>Run import from you Master AttractMode folder</li>
      </ol>
    </div>
  </div>
