<div class="row">
  <div class="col-9">
    <h4 class="arcadia">
      <label class="yellow">E</label>
      <label class="blue">mulators</label>
    </h4>
    <p>This section is where you alter the emulators configured in attractmode.</p>
  </div>
  <div class="col-3 text-right"><button class="btn btn-primary btn-sm" (click)="importEmulators()">Import</button></div>
</div>
<div class="row" *ngIf="emulators.length > 0">
  <div class="col-12">
    <table class='table table-striped table-dark'>
      <thead>
        <tr>
          <th>Name</th>
          <th>System</th>
          <th>Executable</th>
          <th>Args</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emulator of emulators">
          <td>{{ emulator.emulatorName }}</td>
          <td>{{ emulator.system }}</td>
          <td>{{ emulator.executable }}</td>
          <td>{{ emulator.args }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
